<section class="info_section layout_padding-top">
    <div class="info_logo-box">
      <h2>
        APPTITUDE
      </h2>
    </div>
    <div class="container layout_padding2">
      <div class="row">
        <div class="col-md-3">
          <h5>
            About Us
          </h5>
          <p>
            Founded in 2022, APPTITUDE is a mobile application creation, mobile web & multimedia service provider... 

          </p>
          <form action="">
            <button type="submit">
             Read more
            </button>
          </form>
        </div>
        <div class="col-md-3">
          <h5>
            Useful Link
          </h5>
          <ul>
            <li>
              <a href="">
                App development
              </a>
            </li>
            <li>
              <a href="">
                Mobile development
              </a>
            </li>
            <li>
              <a href="">
                Graphic design
              </a>
            </li>
            <li>
              <a href="">
                Audio video editing
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <h5>
            Contact Us
          </h5>
          <p>
            apptitudesoft@gmail.com Cameroon, Douala Bassong Opposite College Nil
phone <br>+237 22 22 22 22 
          </p>
        </div>
        <div class="col-md-3">

          <div class="subscribe_container">
            <h5>
              Newsletter
            </h5>
            <div class="form_container">
              <form action="">
                <input type="email" placeholder="Enter your email">
                <button type="submit" id="kn-button">
                  Subscribe
                </button>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="container">
      <div class="social_container">

        <div class="social-box">
          <a href="">
            <%= image_tag "fb" %>
          </a>

          <a href="">
            <%= image_tag "twitter" %>
          </a>

          <a href="">
            <%= image_tag "linkedin" %>
          </a>
          
          <a href="">
            <%= image_tag "instagram" %>
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- end info section -->
  <!-- footer section -->
  <section class="container-fluid footer_section">
    <p>
      &copy;  2023 All Rights Reserved. Design by Apptitude Software Ltd.
      <!-- <a href="https://html.design/">Free Html Templates</a> -->
    </p>
  </section>
  <!-- footer section -->
