
<% if user_signed_in? %>
<div id="events">

  <table class="table" style="color: white;">

    <thead class="thead-dark">
      <tr>
        <th scope="col" class="w-25">Date</th>
        <th scope="col" class="w-50">Event</th>
        <th scope="col" class="w-25">Registration</th>
        <th scope="col" class="w-25">Organizer</th>
      </tr>
    </thead>

  <% @events.each do |event| %>
    
    <%= link_to event do %>
      <%= render event %>
    <% end %>

  <% end %>

  </table>
</div>

<div class="container">
  <%= link_to "New event", new_event_path, class:"btn btn-secondary" %>
</div>
<% else %>

  <h1>Not yet logged in!</h1>
  <p>Please log in to see the events...</p>

<% end %>