<p style="color: green"><%= notice %></p>

<div id="events">

<table class="table">

    <thead class="thead-dark">
      <tr>
        <th scope="col" class="w-25">Date</th>
        <th scope="col">Event</th>
        <th scope="col" class="w-25">Registration</th>
        <th scope="col" class="w-25">Organizer</th>
      </tr>
    </thead>

  <% @events.each do |event| %>
    
    <%= link_to event do %>
      <%= render event %>
    <% end %>

  <% end %>

  </table>
</div>

<%= link_to "New event", new_event_path %>
