
<div id="events">

  <div class="container">

    <div class="row table_header">
        <div class="col-sm-2"> Date  </div>
        <div class="col-sm-6"> Event </div>
        <div class="col-sm-2"> Registration </div>
        <div class="col-sm-2"> Organizer </div>
    </div>

    <% @events.each do |event| %>

      <%= link_to event do %>
        <%= render event %>
      <% end %>

    <% end %>

  </div>

</div>

<div class="container">
  <%= link_to "New event", new_event_path, class:"btn btn-secondary", id:"kn-button" %>
</div>
