

<%= render 'event_details', :event => @event %>

<nav class="nav" style="position: relative">
  <div class="main_list">
    <ul>
        <li>
          <%= link_to "Modify this event", edit_event_path(@event), id: "kn-button" %>
        </li>

        <li>
          <%= link_to "List of events", events_path, id: "kn-button" %>
        </li>

        <li>
          <%= link_to "Cancel this event", @event, method: :delete, id: "kn-button" %>
        </li>
    </ul>
  </div>
</nav>


